/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  background-color: beige;
}

h1, h2, h3, h4 {
  font-family: 'Cinzel', serif;
}

h4 {
  font-size: 22px;
}

.incorrect {
  font-size: 35px;
  font-weight: bolder;
}

h1 {
  background-color: rgb(165, 165, 64);
  width: 800px;
  border-radius: 4px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ship {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

img {
  margin: auto;
  max-width: 275px;
  max-height: 275px;
}

form {
  font-size: 25px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
}

input[type=submit] {
  border-radius: 4px;
  background-color: rgb(165, 165, 64);
  border: none;
  color: rgb(10, 10, 10);
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

@media (min-width: 320px) {
  h1 {
    font-size: 25px;
    width: 300px;
  }

  img {
    max-width: 275;
    max-height: 275;
  }
}

h5 {
  font-size: 32px;
  font-family: 'Cinzel', serif;
}

@media (min-width: 720px) {
  img {
    max-width: 500px;
    max-height: 500px;
  }

  h1 {
    width: 500px;
  }

  h5 {
    font-size: 48px;
    font-family: 'Cinzel', serif;
  }
}

