/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  background-color: beige;
}

.ship {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

img {
  margin: auto;
  max-width: 275px;
  max-height: 275px;
}

@media (min-width: 720px) {
  img {
    max-width: 500px;
    max-height: 500px;
  }
}